.container{
  background-color: black;
  height: 100vh;
  padding-top: 40px;
 
}
.list-group{
  width: 500px;
  height: 70vh;
  background-color: white;
  display: block;
  margin: 0 auto;
  border-radius: 20px;
  box-shadow: 7px 7px 5px red;
  padding: 8px;

}
.input-container{

  width: 500px;
  display: block;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 30px;
}
.input{
  font-size: 25px;
  margin-top: 30px;

}
.icon{
  margin-top: 30px;
  padding-left: 10px;
  cursor: pointer;

}
h1{
  color: white;
  font-weight: bold;
  font-style:italic ;
  text-align: center;
  text-shadow: 2px 2px 2px red;
}
.elem{
  display: block;
  padding: 5px;
  margin: 10px;
  margin-top: 15px;
  box-shadow: 4px 4px 4px green;
  padding-top: 20px;
  border-radius: 15px;
  background-color: #ffffcc;
  padding: 12px;
  font-weight: bold;
  font-size: 20px;
  display: flex;
  justify-content: space-between;
}
.delete{
  cursor: pointer;
}
